extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In
        form(method='POST', action='/login')
          .form-group
            label(for='name') Username
            input.form-control#name(type='text', placeholder='Enter username', name='name')
          .form-group
            label(for='password') Password
            input.form-control#password(type='password', placeholder='Enter password', name='password')
          button.btn.btn-primary(type='submit') Log in
          a.btn.btn-info.float-right(href='/register') Register