extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In
        form(method='POST', action='/login')
          .form-group
            label(for='email') Email address
            input.form-control#email(type='email', placeholder='Enter email', name='email')
            small.form-text.text-muted We'll never share your email with anyone else.
          .form-group
            label(for='password') Password
            input.form-control#password(type='password', placeholder='Enter password', name='password')
          button.btn.btn-primary(type='submit') Log in