extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h4
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
          | @#{name}
        p.favorite-book Favorite Book : 
          | #{favorite}
