extends layout

block content
  .main.container.row
    .col-md-6.col-md-offset-3
      h1.display-4.m-b-2.text-center 
        i.material-icons.icn-search-page search
      form(method='POST', action='/search')
        .form-group
          label(for='search') Username
          input.form-control#search(type="text" name="search" placeholder="Search..")
        button.btn.btn-primary(type='submit') Search